*{
  margin: 0;
  padding: 0;
}
body {
  font-family: "Titillium Web", Arial, sans-serif;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
header {
  height: 596px;
  background-color: #87509c;
}
hr {
  margin: 20px auto;
}
blockquote {
  font-style: italic;
}
.headen {
position: absolute;
white-space: nowrap;
width: 1px;
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
}
.toppannel {
  height: 156px;
}
.logo {
  margin-left: 100px;
  margin-top: 57px;
  width: 117px;
  height: 37px;
  float: left;
}
.navigation {
  display: flex;
  margin-left: auto;
  float:right;
  margin-right: 100px;
}
.nav_li {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  margin-top: 70px;
  margin-left: 40px;
  text-transform: uppercase;
  text-align: center;
  padding: 5px;
}
.nav_li:hover {
background-color: #643a79;
border-radius: 5%;
cursor: pointer;
transition: 0.5s linear;
}
.home {
  background-color: #643a79;
  border-radius: 5%;
  pointer-events: none;
}
.greetings {
  color: white;
  font-weight: 700;
  font-size: 32px;
  margin-top: 100px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 800px;
}
.mainbutton_a {
  display: block;
  width: 200px;
  height: 50px;
  margin: auto;
}
.mainbutton_p {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  padding-top: 10px;
}
.mainbutton {
width: 200px;
height: 50px;
background-color: #eb7d4b;
margin: auto;
border-radius: 3%;
box-shadow: 0 -4px 0 inset rgba(0, 0, 0, 0.15);
text-align: center;
}
.mainbutton:hover {
  background-color:#EF966E;
  cursor: pointer;
  transition: 0.5s linear;
}
.mainbutton:active {
  background-color: #D77346;
}
.services {
  background-color: #17c2a4;
  height: 796px;
}
.header {
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  letter-spacing: 4px;
}
.white {
  color: white;
}
.services_div {
  margin: auto;
  text-align: center;
  padding-top: 100px;
  max-width: 500px;
  }
.usualtext {
  font-size: 18px;
  font-weight: 400;
}
.usualtext16 {
  font-size: 16px;
  font-weight: 400;
}
.services_ul {
  display: inline-block;
  margin-top: 80px;
  margin-left: 190px;
}
.servicelist {
  float: left;
  color: #fff;
  max-width: 200px;
  text-align: center;
  margin-right: 100px;
}
.servicelist:last-child {
  margin-right: 0;
}
.serv_h3 {
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 30px;
  letter-spacing: 0.48px;
}
.team {
  height: 900px;
  background-color: #e7f1f8;
  text-align: center;
  padding-top: 80px;
}
.blue {
  color: #677187;
}
.teamlist {
  display: inline-block;
  margin-top: 80px;
}
.teamcard {
  float: left;
  max-width: 200px;
  margin-right: 100px;
}
.teamcard:last-child {
  margin-right: 0;
}
.teamname {
  text-transform: uppercase;
  margin-top: 40px;
  letter-spacing: 0.48px;
}
.position {
  color: #30bae7;
  margin-bottom: 30px;
  font-weight: 400;
}
.socialnet {
  display: inline-block;
  margin-top: 30px;
}
.socialnet_li {
  float: left;
  margin-right: 10px;
}
.skills {
  height: 600px;
}
.skills_div {
margin-top: 100px;
text-align: center;
}
.skillname {
  font-size: 24px;
  text-align: center;
  color: #3c4761;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 30px;
}
.skills_ul {
  display: inline-block;
  margin: auto;
  margin-left: 50px;
}
.skillperc {
  float: left;
  margin: 100px;
}
.perc_div {
position	: relative;
width: 100%;
}
.percent_p {
  position: absolute;
  left: 25%;
  bottom: 30%;
  font-weight: 300;
  font-size: 50px
}
.portfolio {
  background-color: #ffdd99;
  height: 1500px;
  color: #393939;
  text-align: center;
}
.portfolio_div {
  padding-top: 120px;
  text-align: center;
  margin: auto;
}
.radios {
  display: inline-block;
}
.radioli {
  float: left;
  margin-right: 10px;
}
.radiobut {
  border:none;
  width: 90px;
  height: 38px;
  margin-top: 40px;
  border-radius: 5%;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #393939;
  background-color: rgba(0, 0, 0, 0.07);
}
.radiobut_1 {
  background-color: #fff;
}
.radiobut:hover {
  background-color: #fff;
  cursor: pointer;
  transition: 0.5s linear;
}
.projects {
  display: inline-block;
  margin-top: 60px;
  margin-left: 200px;
}
.projectli {
  float: left;
  margin-right: 60px;
  margin-bottom: 60px;
  border-radius: 5%;
  padding: 20px;
}
.project_a {
  color: #393939;
  text-transform: uppercase;
  text-align: center;
}
.projectli:hover {
  background-color: #e4c688;
  cursor: pointer;
  transition: 0.5s linear;
}
.projbutton {
  border: none;
  font-family: "Titillium Web", Arial, sans-serif;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  width: 200px;
  height: 50px;
  background-color: #17c2a4;
  border-radius: 3%;
  box-shadow: 0 -4px 0 inset rgba(0, 0, 0, 0.15);
  text-align: center;
  outline: 0;
  margin-top: 40px;
}
.projbutton:hover {
  background-color: #3cd6bc ;
  cursor: pointer;
  transition: 0.5s linear;
  outline: 0;
}
.aboutus {
  height: 900px;
  background-color: #d74680;
  text-align: center;
  padding-top: 100px;
  color: #fff;
}
.feedback {
  display: inline-block;
  margin-left: 200px;
  margin-top: 150px;
}
.feedbackli {
  float: left;
  max-width: 500px;
  text-align: left;
  margin-right: 120px;
  margin-bottom: 150px
}
.imgright {
  float: left;
  margin-right: 50px;
  margin-bottom: 50px;
}
.feedname {
  margin-top: 30px;
  text-transform: uppercase;
  font-weight: 700;
}
.feedbposition {
  color: #ffdd99;
font-size: 18px;
}
.feedb {
  background-color: #3c5499;
  height: 750px;
  padding-top: 100px;
  text-align: center;
}
.formname {
  margin-top: 75px;
  width: 405px;
  height: 50px;
  margin-right: 30px;
  border: 0px;
  color: #fff;
  background-color: #273a71;
  font-family: "Titillium Web", Arial, sans-serif;
  vertical-align: middle;
  padding-left: 15px;
}
.formemail {
  margin-top: 75px;
  width: 405px;
  height: 50px;
  border: 0px;
  background-color: #273a71;
  font-family: "Titillium Web", Arial, sans-serif;
  vertical-align: middle;
  padding-left: 15px;
  color: #fff;
}
.formmessage {
  width: 860px;
  height: 200px;
  margin-top: 30px;
  border: 0px;
  background-color: #273a71;
  font-family: "Titillium Web", Arial, sans-serif;
  vertical-align: middle;
  padding-left: 15px;
  padding-top: 15px;
  color: #fff;
}
.sendbut {
  border: none;
  font-family: "Titillium Web", Arial, sans-serif;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  width: 200px;
  height: 50px;
  background-color: #30bae7;
  border-radius: 3%;
  box-shadow: 0 -4px 0 inset rgba(0, 0, 0, 0.15);
  text-align: center;
  outline: 0;
  margin-top: 40px;
}
.sendbut:hover {
  background-color: #74D7F7 ;
  cursor: pointer;
  transition: 0.5s linear;
  outline: 0;
}
::placeholder {
  color: #fff;
}
input:focus {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  outline: none;
}
textarea:focus {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    outline: none;
}
a:focus {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  outline: none;
}
.soc_a:focus {
  box-shadow: 0 0 10px rgba(60, 84, 153, 0.5);
  outline: none;
}
button:focus {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  outline: none;
}
.foot_div {
  height: 70px;
  background-color: #344b8e;
}
.footerul {
  display: inline-block;
  margin-left: 200px;
  margin-top: 18px;
}
.footerli {
  float: left;
  margin-right: 100px;
}
.foot_sn {
    font-family: "Titillium Web", Arial, sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
.foot_tw {
  color: #31a9da;
}
.foot_sn:hover {
  color: #05163E;
    transition: 0.2s linear;
}
